body{
  background-color: #263238;
}

h1{
  /* タグのほかにもクラス名やIDも使える */
  color: #FFFFFF;
}
/* 色に関してはカラーコードでぐぐって */

table{
  width: 400px; /* 表の幅 */
  height: 800px; /* 表の高さ */
  /* 中央揃えにする */
  margin-left: auto;
  margin-right: auto;
}

td{
  width: 10%; /* セルの幅 */
  height: 5%; /* セルの高さ */
  background-color: #455A64; /* 背景色 */
}

.i{
  background-color: #00BCD4 /* シアン */
}

.o{
  background-color: #FFEB3B /* イエロー */
}

.t{
  background-color: #9C27B0 /* パープル */
}

.s{
  background-color: #4CAF50 /* グリーン */
}

.z{
  background-color: #F44336 /* レッド */
}

.j{
  background-color: #2196F3 /* ブルー */
}

.l{
  background-color: #FF9800 /* オレンジ */
}
